[Desktop Entry]
Type=Application
Version=1.0
Name=Sails
GenericName=Sailing Boat Simulator
Comment=Simulator for autonomous sailing boats
Exec=sails
Icon=application-x-executable
Terminal=false
Categories=Science;Robotics;
